<div class="row p-5">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Помогите вспомнить мой пароль</h3>
        <form>
            <div class="form-group">
                <label for="resetPasswordEmail">Куда отпраить?</label>
                <input type="email" class="form-control" id="resetPasswordEmail" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary mr-3">Напомнить</button>
            <a routerLink="/login">Обратно</a>
        </form>
    </div>
</div>