<div class="card">
    <div class="all_lessons_info">
        <div class="lessons_cell">
            <label> {{card.subjName}}</label>
            <div class="auditories">{{card.classNum}}</div>
            <div class="groups">{{card.groupNum}}</div>
            <div class="type_employment" style="border-top: 0px solid #2ec4e4; border-right: 14px solid #2ec4e4"></div>
            <!-- <div><strong>{{ cardDate | date: 'dd MMMM yyyy HH:mm:SS':null:'ru'}}</strong></div> -->
        </div>
    </div>
</div>