<div class="row p-5 justify-content-center">
    <div class="col-md-6 mt-4">
        <h3>Login&</h3>
        <form>
            <div class="form-group">
                <label for="inputEmail">Ваша почта</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Мы не дадим ее никому, честно</small>
            </div>
            <div class="form-group">
                <label for="inputPassword1">Ваш пароль</label>
                <input type="password" class="form-control" id="inputPassword1">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Навсегда</label>
            </div>
            <button type="submit" class="btn btn-primary mr-3">Синяя кнопка</button>
            <button routerLink="/home" class="btn btn-primary mr-3">Выйти в окно</button>
            <a routerLink="/reset-password" class="mr-3">Альцгеймер?</a>
        </form>
    </div>
</div>