<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5">
      <div class="sticky-top">
        <button class="btn btn-primary mb-1 w-100" routerLink="./faculties">Факультеты</button>
        <button class="btn btn-primary mb-1 w-100" routerLink="./buildings">Корпуса</button>
        <button class="btn btn-primary mb-1 w-100" routerLink="./audiences">Аудитории</button>
        <button class="btn btn-primary mb-1 w-100" routerLink="./subjects">Предметы</button>
        <button class="btn btn-primary mb-1 w-100" routerLink="./lesson-types">Типы занятий</button>
        <button class="btn btn-primary mb-1 w-100" routerLink="./groups">Группы</button>
        <button class="btn btn-primary mb-1 w-100" routerLink="./teachers">Преподаватели</button>
        <button class="btn btn-primary mb-1 w-100" routerLink="./teacher-subjects">Дисциплины преподавателей</button>
        <button class="btn btn-primary mb-1 w-100">Пользователи</button>
        <button class="btn btn-success mb-1 w-100" routerLink="/home">На главную</button>
      </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>