<header style="margin-bottom: 2rem;">
    <p>
        <i class="material-icons" (click)="go(-1)">arrow_left</i>
        <span>
            {{dateService.date | async| moment }}-я неделя
            {{dateService.dateWeekS| async| weekmoment }}-{{dateService.dateWeekE| async| weekmoment }}
        </span>
        <i class="material-icons" (click)="go(1)">arrow_right</i>
    </p>
</header>
<div class="page-wrapper">
    <div class="row mb-3">
        <div class="col-6 text-left">
            <label for="groupSelect">Выберите группу</label>
            <select class="form-control" id="groupSelect" [(ngModel)]="selectedGroup" (change)="onGroupSelect()"
                name="selector" #groupSelect="ngModel">
                <option *ngFor="let group of groups; let i = index" [value]="group.id">
                    {{group.title}}
                </option>
            </select>
        </div>
    </div>
    <div class="table">
        <div id="time">
            <div *ngFor="let time of lessonsTime; let i = index">
                <span>{{lessonsTime[i]}}</span>
            </div>
        </div>
        <div class="week-line" *ngFor="let weekLine of schedule; let lineIndex = index">
            <div class="week-name"><label>{{weekNames[lineIndex]}}</label></div>
            <div class="cell" *ngFor="let cell of weekLine.weekLines; let cellIndex=index">
                <div class="lesson" *ngFor=" let lesson of cell.cells; let lessonIndex=index">
                    <app-lesson class="inner-lesson" [lesson]="lesson"></app-lesson>
                </div>
                <div *ngIf="isAdmin" class="lesson text-center new-lesson"><i
                        class="material-icons">add_circle_outline</i></div>
            </div>
        </div>
    </div>
</div>