<div class="page-wrapper">
    <div class="table">
        <div id="time">
            <div *ngFor="let time of lessonsTime; let i = index">
                <span>{{lessonsTime[i]}}</span>
            </div>
        </div>
        <div class="week-line" *ngFor="let weekLine of schedule; let lineIndex = index">
            <div class="week-name"><label>{{weekNames[lineIndex]}}</label></div>
            <div class="cell" *ngFor="let cell of weekLine.weekLines; let cellIndex=index">
                <div class="lesson" *ngFor="let lesson of cell.cells; let lessonIndex = index">
                    <app-lesson class="inner-lesson" [lesson]="lesson"></app-lesson>
                </div>
            </div>
        </div>
    </div>
</div>