<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 form-body">
      <div class="card p-5">
        <div class="sm-jumbotron lighten-2 text-center">
          <h3 style="color: #fff;">User registration</h3>
        </div>
        <form class="col-md-12" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)" novalidate>
          <div class="form-group">
            <label for="exampleInputUserName1">Username</label>
            <input type="text" class="form-control validate" name="login" #UserName="ngModel" [(ngModel)]="user.login"
              placeholder="Enter username" required />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="mail" #Email="ngModel" [(ngModel)]="user.mail" required
              placeholder="Enter email" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control validate" name="password" #Password="ngModel"
              [(ngModel)]="user.password" required minlength="8" placeholder="Password" />
          </div>
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div *ngFor="let role of rolesSelector">
                <p>
                  <label>
                    <input name="role" type="radio" value="{{ role.id }}" [(ngModel)]="user.role" checked required />
                    <span> {{ role.role }}</span>
                  </label>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col-md-12">
              <button [disabled]="!userRegistrationForm.valid" class="btn btn-primary btn-large mb-3"
                style="color: #fff; width: 100%;" type="submit">
                Submit
              </button>
            </div>
          </div>
          <div class="row">
            <div class="input-field col-md-6">
              <button class="btn btn-primary btn-large" routerLink="/home" style="color: #fff; width: 100%;">
                Home
              </button>
            </div>
            <div class="input-field col-md-6">
              <button class="btn btn-primary btn-large" routerLink="/reset-password" style="color: #fff; width: 100%;">
                Forgot password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>