<div class="row text-center">
  <div class="col-md-6 offset-md-3">
    <h2>Тупо расписание</h2>
    <button class="btn btn-primary btn-margins mr-3" routerLink="/for-students">
      Для бандитов
    </button>
    <button class="btn btn-primary btn-margins mr-3" routerLink="/for-teachers">
      Для бати
    </button>
    <button class="btn btn-primary btn-margins mr-3" routerLink="/for-admin">
      Админка
    </button>
    <button class="btn btn-primary btn-margins mr-3" routerLink="/login">
      Регистрация
    </button>
  </div>
</div>